.selectbox {
  cursor: pointer;
  width: 140px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid white;
  appearance: none;
  background: url("../../assets/icons/arrow-down.svg") 0 0 no-repeat;
  background-position: calc(100% - 10px);
  background-size: 10px;
  padding-left: 18px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: white;
  text-overflow: initial;
}

.selectbox.selected {
  min-width: 100px;
}

.selectbox:focus {
  outline: none;
}
